
/*----------------- GENERAL ------------------*/

* {
    box-sizing: border-box
}

body {
    margin: 0;

    header ~ * {                    /* maybe change to main for footer */
        padding: 1em;
    }
}


/*----------------- TEMPLATE ------------------*/

.card {
    padding: 1em;
}

.service-card {
    > section {
        display: flex;
        gap: 2em;
        align-items: center
    }

    h2, h3, h4 {
        margin:0;
    }

    h4 ~ p {
        margin: 0;
    }
}

.labeled-input {
    h3 {
        margin: 0;
        margin-bottom: 0.5em;
    } 
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 5px;
}


/*----------------- HEADER ------------------*/

body > header {
    section {
        display: flex;
        justify-content: space-between;
    }

    > div {
        max-width:100em;
        margin: auto;
    }

    ~ * {
        max-width: 80em;
        margin: auto;
    }
}


#signup {
    text-align: right;

    a {
        padding: 0.5em;
    }
}


/*----------------- MAIN PAGE ------------------*/

#listing {
    display: flex;
    align-items: flex-start;
    gap: 4em;
    margin-top: 3em;

    > section {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

#listing aside {
    width: 35em;
    padding-left: 1em;

    div {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    section  {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}


/*----------------- CREATE SERVICE PAGE ------------------*/

#createService {
    form {
        display: flex;
        flex-direction: column;
        gap: 4em;    
    }

    h1 {
        text-align: center;
    }

    & > :last-child {
        display: flex;
        justify-content: right;
    }

}

#createService form > section {
    textarea {
        width: 100%;
    }

    &:nth-child(1) input {
        width: 40em;
    }
}

#createService form > div {
    display: flex;
    justify-content: space-between;
    gap: 4em;

    section {
        width: 50%;
    }
}

#createService div[class="card"] {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


/*----------------- SELECT SERVICE PAGE ------------------*/

#selectService {
    > section {
        display: flex;
        gap: 4em;
    }

    h2, aside p {
        text-align: center;
    }

    h2 {
        margin-top: 6em;
    }

    input {
        width: 40em;
        margin-bottom: 3em;
    }

    textarea {
        width: 100%;
    }
}

#selectService > section > article {
    div {
        display: flex;
        justify-content: space-between;
    }
    width: 100%;
} 

.skills, .pricing {
    h1 {
        margin: 0;
    }
}
