
/*----------------- GENERAL ------------------*/

* {
    box-sizing: border-box
}

body {
    margin: 0;

    header ~ * {                 
        padding: 1em;
    }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    max-width: 80em;
    width:100%;
    flex:1;
    margin: auto;
}


textarea {
    width: 100%;
}

h1 {
    margin-top: 0;
}


ul {
    padding-left: 3em;
    padding-right: 3em;

    li:not(:last-child) { 
        margin-bottom: 1em;  
    }
}

/*----------------- TEMPLATE ------------------*/

.wrap-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 5px;
}

.right {
    display: flex;
    justify-content: right;
}

.center {
    display: flex;
    justify-content: center;
}


.spaced {
    display: flex;
    justify-content: space-between;
}


.overflow {
    max-height: 30em;
    overflow: scroll;
}


.card {
    padding: 1em;
}


.pin-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    
    li {
        max-width: 20em;
    }
}


.info-card {
    max-width: 50em;
    overflow-wrap: break-word;

    > section {
        display: flex;
        gap: 2em;
        align-items: center
    }

    h2, h3, h4 {
        margin: 0;
    }

    h4 ~ p {
        margin: 0;
    }
        
}

.service {
    display: flex;
    gap: 4em;

    aside p {
        text-align: center;
    }

    > article {
        width: 100%;
    }

    h1 {
        margin-top: 0;
    }
}

.labeled-input {
    margin-bottom: 2em;

    h3 {
        margin: 0;
        margin-bottom: 0.5em;
    } 
}

.skills, .pricing {
    h1, h2, p {
        margin: 0;
    }
}


/*----------------- HEADER ------------------*/

body > div > header {
    h1, h3 {
        margin:0;
    }

    > div {
        max-width:100em;
        margin: auto;
    }
    margin-bottom: 1em;
}

#signup {
    display: flex;
    text-align: right;

    a {
        padding: 0.5em;
    }
}


/*----------------- FOOTER ------------------*/

footer {
    margin-top: 2em;

    > section {
        max-width:100em;
        margin: auto;
    }

    p {
        margin: 0.5em 0 0.5em 0;
    }
}


/*----------------- MESSAGES ------------------*/

#messages {
    max-width: fit-content;
    margin: auto;
}


/*----------------- MAIN PAGE ------------------*/

#mainPage {
    display: flex;
    align-items: flex-start;
    gap: 4em;

    aside {
        max-width: 20em;
        padding: 1em;
    }
}


/*----------------- CREATE SERVICE PAGE ------------------*/

#createService {
    h1 {
        text-align: center;
    }

    form {
        
        > section input {
            width: 50%;
        }

        > div {
            gap: 4em;

            section {
                width: 50%;
            }
        }

        div input {
            max-width: 8em;
        }
    }
}


/*----------------- SELECT SERVICE PAGE ------------------*/

#selectService {
    .service {
        margin-top: 1em;
    }

    > h2 {
        text-align: center;
        margin-top: 5em;
    }

    > div {
        display: flex;
        margin: 1em 0 1em 0;

        button {
            margin-left: 0.5em;
        }
    }

    .listing {
        margin-top: 3em;
    }

    input {
        width: 50%;
    }
}


/*----------------- PROFILE PAGE ------------------*/

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

}


/*----------------- MANAGE PAGE ------------------*/

#manageServices {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        margin-top: 1em;
    }
}


/*----------------- REQUEST PAGE ------------------*/
 
#request {
    .info-card {
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        p {
            margin:0;
        }
    }

    .wrap-list {
        margin-bottom: 2em;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input {
        margin-left: 3em;
    }
}
