#signup a, #signup button{
    transition: background-color 200ms;
}

#signup a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

header #signup button:hover {
    background-color: rgb(240, 50, 50);
    color: black;
}

#mainPage, #manageServices, #profile {
    .info-card {
        cursor: pointer;
    }
} 

#messages:hover {
    cursor: pointer;
    scale: 1.05;
}

@media (max-width: 600px) {
    #mainPage, #manageServices {
        img {
            display: none;
        }

        .listing .wrap-list {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    #mainPage {
        flex-direction: column;

        aside {
            max-width: 100%;
        }
    }
}