#signup a, #signup button{
    transition: background-color 200ms;
}

#signup a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

header #signup button:hover {
    background-color: rgb(240, 50, 50);
    color: black;
}

@media (max-width: 600px) {
    aside {
      display: none;
    }

    #mainPage, #manageServices {
        img {
            display: none;
        }

        .wrap-list {
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    #mainPage aside {
      display: none;
    }
}